{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}



{% block content %}

	<section class="section-full-height large-padding custom-bg parallax" data-bg="asset/images/demo/s-203.jpg">
		<div class="bg-layer op6"></div>
		<div class="container align-middle">
			<div class="row">
				<div class="col-sm-12 col-md-7">
					<h3 class="flex-subtitle">With so many pages and elements, there are </h3>
					<h2 class="flex-title">endless possibilities for creating your website</h2>
					<div class="mt40"><a href="#" class="flex-btn flex-btn2">buy this temlpate</a></div>
				</div>
			</div>
		</div>
	</section>


	<section class="large-padding section-gray custom-bg custom-bg2 bg-right parallax" data-bg="asset/images/demo/i-101.png">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="box-left"><img src="asset/images/icons/one-color/64px/browser.png" alt="service"></div>
					<div class="box-right">
						<h3 class="box-title bt3 color-default">Cross Browser</h3>
						<p class="color-default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae!</p>
					</div>
					<div class="mb40"></div>
					<div class="box-left"><img src="asset/images/icons/one-color/64px/tablet.png" alt="service"></div>
					<div class="box-right">
						<h3 class="box-title bt3 color-default">Mobile Friendly</h3>
						<p class="color-default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae!</p>
					</div>
					<div class="mb40"></div>
					<div class="box-left"><img src="asset/images/icons/one-color/64px/pencil.png" alt="service"></div>
					<div class="box-right">
						<h3 class="box-title bt3 color-default">Unlimited colors</h3>
						<p class="color-default">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim temporibus quae, aliquid! Ipsam officiis obcaecati beatae!</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="large-padding custom-bg parallax" data-bg="asset/images/demo/s-114.jpg">
		<div class="bg-layer"></div>
		<div class="container">
			<div class="row large-padding">
				<div class="col-sm-8">
					<h2 class="flex-title br-top-bottom">Responsive Design</h2>
					<p class="flex-p mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic itaque optio, corrupti ut tenetur similique maiores aperiam labore dolorum voluptatum assumenda ullam dolores sit, magnam soluta excepturi porro quam incidunt culpa cumque. Aperiam delectus maiores, veniam nam quis provident accusantium?</p>
				</div>
			</div>
		</div>
	</section>

	<section class="large-padding custom-bg parallax" data-bg="asset/images/demo/s-112.jpg">
		<div class="bg-layer"></div>
		<div class="container">
			<div class="row large-padding">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h2 class="flex-title flex-bordered mb40">Unlimited <span class="main-text">colors</span></h2>
					<p class="flex-p mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic itaque optio, corrupti ut tenetur similique maiores aperiam labore dolorum voluptatum assumenda ullam dolores sit, magnam soluta excepturi porro.</p>
				</div>
			</div>
		</div>
	</section>


	<section class="large-padding section-dark custom-bg custom-bg2 bg-left parallax" data-bg="asset/images/demo/i-102.png">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-6">
					<h2 class="section-title text-left st2 mb30">Even more</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium voluptates, laboriosam eaque voluptatem vitae earum quos similique.</p>
					<ul class="feature-list feature-list-2 mb30">
						<li><i class="fa fa-check"></i> 4 Headers </li>
						<li><i class="fa fa-check"></i> 4 Footers </li>
						<li><i class="fa fa-check"></i> 95+ HTML Templates</li>
						<li><i class="fa fa-check"></i> Tons of elements</li>
						<li><i class="fa fa-check"></i> Boxed Layout</li>
						<li><i class="fa fa-check"></i> Wide Layout</li>
						<li><i class="fa fa-check"></i> Unlimited Colors</li>
						<li><i class="fa fa-check"></i> Extensive Documentation</li>
						<li><i class="fa fa-check"></i> Fiendly Support</li>
						<li><i class="fa fa-check"></i> Free Updates</li>
					</ul>
					<p class="mb0"><a href="#" class="btn voyo-btn-2 br2">Read More</a></p>
				</div>
			</div>
		</div>
	</section>


	<section class="large-padding custom-bg parallax" data-bg="asset/images/demo/s-201.jpg">
		<div class="bg-layer"></div>
		<div class="container">
			<div class="row large-padding">
				<div class="col-sm-4 xs-box2">
					<div class="box-content">
						<i class="fa fa-cloud big"></i>
						<h3 class="color-white">Knowledgebase</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi dolorum consect sit amet.</p>
					</div>
				</div>
				<div class="col-sm-4 xs-box2">
					<div class="box-content">
						<i class="fa fa-weixin big"></i>
						<h3 class="color-white">Forums</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi dolorum consect sit amet.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="box-content">
						<i class="fa fa-envelope big"></i>
						<h3 class="color-white">Mail Support</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corrupti, quasi dolorum consect sit amet.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
