{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'top-border'}}{% endblock %}



{% block content %}




<!-- Page Header -->
	<header class="titlebar titlebar1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="page-title pull-left">Clients</h1>
					<ol class="breadcrumb pull-right">
						<li><a href="index">Home</a></li>
						<li class="active">Technology</li>
					</ol>
				</div>
			</div>
		</div>
	</header> <!-- END Page Header -->



	<section class="section">
		<div class="container">
			<div class="row mb30">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/demo/bar-chart.png" alt="careers" class="img-careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Cloud</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div>
			<div class="row mb30">
				<div class="col-sm-4 text-center xs-box col-sm-push-8">
					<img src="asset/images/demo/brightness.png" alt="careers" class="img-careers">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<div class="text-careers">
						<h3 class="box-title">IT Strategies</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/demo/compose.png" alt="careers" class="img-careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Infrastructure Operation Transformation</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div>


			<div class="row" id="java">
				<div class="col-sm-4 text-center xs-box">
					<img src="asset/images/demo/compose.png" alt="careers" class="img-careers">
				</div>
				<div class="col-sm-8">
					<div class="text-careers">
						<h3 class="box-title">Java</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quidem modi facilis doloremque qui dicta, est, libero distinctio a explicabo adipisci, autem animi tempore excepturi numquam atque cum officia. Labore nisi minus odio quo vero, quaerat sit doloribus. Enim necessitatibus reprehenderit maiores inventore.</p>
					</div>
				</div>
			</div>





		</div>
	</section>	



		
		


			


	{% endblock %}


